body{
  background-color: skyblue;
}
h1{
  margin:auto;
  color:#006068;
  border:2px solid #009688;
  background-image: linear-gradient(135deg, skyblue, #009688);
  box-shadow: 0px 0px 5px #009688;
  border-radius: 10px 0px 0px 0px;
  padding-left: 10px;
  margin-top: 20px;
}
h3{
  color:#4dd0e1;
  background-color:lightcyan;
}
img{
  border:solid #009688;
  background-color:white;
}
section{
  background-color:paleturquoise;
}
div{
  width:100%;
  display:inline-block;
}
section{
  height: 250px;
  overflow:hidden;
}
.container{
  width: 95%;
  margin: auto;
  border: 15px solid paleturquoise;
}
.inner{
  width: 120%;
}
img{
  height: 250px;
}
h3{
  padding: 10px;
}
.pics{
  text-align: center;
}
